<?xml version="1.0"?>
<launch>
    <arg name="file_path"   default="$(env HOME)/bagfiles/experimental_file_20220224" />

    <!-- roomba1 -->
    <arg name="is_roomba1" default="true" />
    <group if="$(arg is_roomba1)" >
        <include file="$(find dom_estimator)/launch/utils/bag_player.launch" >
            <arg name="roomba"    value="roomba1" />
            <arg name="wait_time" value="0.0" />
            <arg name="file_name" value="$(arg file_path)/roomba1.bag" />
        </include>
    </group>

    <!-- roomba2 -->
    <arg name="is_roomba2" default="true" />
    <group if="$(arg is_roomba2)" >
        <include file="$(find dom_estimator)/launch/utils/bag_player.launch" >
            <arg name="roomba"    value="roomba2" />
            <arg name="wait_time" value="11.0" />
            <arg name="file_name" value="$(arg file_path)/roomba2.bag" />
        </include>
    </group>

    <!-- roomba3 -->
    <arg name="is_roomba3" default="true" />
    <group if="$(arg is_roomba3)" >
        <include file="$(find dom_estimator)/launch/utils/bag_player.launch" >
            <arg name="roomba"    value="roomba3" />
            <arg name="wait_time" value="24.0" />
            <arg name="file_name" value="$(arg file_path)/roomba3.bag" />
        </include>
    </group>

    <!-- roomba4 -->
    <arg name="is_roomba4" default="true" />
    <group if="$(arg is_roomba4)" >
        <include file="$(find dom_estimator)/launch/utils/bag_player.launch" >
            <arg name="roomba"    value="roomba4" />
            <arg name="wait_time" value="38.0" />
            <arg name="file_name" value="$(arg file_path)/roomba4.bag" />
        </include>
    </group>

    <!-- roomba5 -->
    <arg name="is_roomba5" default="true" />
    <group if="$(arg is_roomba5)" >
        <include file="$(find dom_estimator)/launch/utils/bag_player.launch" >
            <arg name="roomba"    value="roomba5" />
            <arg name="wait_time" value="53.0" />
            <arg name="file_name" value="$(arg file_path)/roomba5.bag" />
        </include>
    </group>

    <!-- roomba6 -->
    <arg name="is_roomba6" default="true" />
    <group if="$(arg is_roomba6)" >
        <include file="$(find dom_estimator)/launch/utils/bag_player.launch" >
            <arg name="roomba"    value="roomba6" />
            <arg name="wait_time" value="70.0" />
            <arg name="file_name" value="$(arg file_path)/roomba6.bag" />
        </include>
    </group>

</launch>
