<?xml version="1.0"?>
<launch>
    <arg name="config_path" default="$(find dom_estimator)/config" />

    <!-- image_connector -->
    <node pkg="dom_estimator" type="images_connector" name="images_connector" >
        <!-- rosparam -->
        <rosparam command="load" file="$(arg config_path)/params/robot_element.yaml" />
    </node>

</launch>
